
body{
  background-color: aquamarine;
  text-align: center;
}

.buttons .btn {
  background-color: rgb(25, 246, 51);
  margin: 10px;
  padding: 20px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn.happy{
  background-color: rgb(0, 255, 4);
}
.btn.sad{
  background-color: rgb(243, 236, 161);
}
.btn.excited{
  background-color: gold;
}
.btn.angry{
  background-color: red;
}

.box {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}
